#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Profile
      %h5 あなたのプロフィール
      = link_to "トップページに戻る", root_path, class: "btn"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn"
    .account-page__inner--right.user-form.show-page
      .field
        .field-label
          Name
        .field-input.field-input__edit
          = @user.name
      .field
        .field-label
          Email
        .field-input.field-input__edit
          = @user.email
      .actions
        = link_to "Edit", edit_user_path(current_user.id), class: 'btn link'
